# SPDX-License-Identifier: GPL-3.0-or-later

/build
/deps
/scripts/__pycache__

/ctl/**/*_entry.c
/daemon/**/*_entry.c
/include/ctl/*
/include/daemon/*
/include/config/*
/include/generated/*

/lib/unicode_width.c
/EastAsianWidth.txt
